{
    "auth": {
        "username": "学号",
        "password": "密码"
    },
    "output": {
        "directory": "output",
        "grades_filename": "grades.csv"
    },
    "neu_login": {
        "service_url": "http://219.216.96.4/eams/homeExt.action",
        "bypass_proxy": false
    },
    "service_data": {
        "JiaoWuURL": "http://219.216.96.4/eams/homeExt.action",
        "plan_id": "4068"
    },
    "email": {
        "smtp_server": "smtp.qq.com",
        "smtp_port": 587,
        "sender_email": "@qq.com",
        "sender_password": "pwd",
        "recipient_email": "@"
    },
    "auto": {
        "frequent_period": {
            "start_time": "08:00",
            "end_time": "21:00",
            "interval": 1200
        },
        "cold_period": {
            "start_time": "21:00",
            "end_time": "08:00",
            "interval": 10800
        }
    }
}